* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* Dark overlay container */
.overlay {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/page.png");
  background-size: cover;
  background-position: center;
  padding: 100px 8%;

  position: relative;
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 10px;
}

.logo1 {
  width: 400px;
}
.logo2 {
  width: 70px;
}

/* Subtitle */
.subtitle {
  text-align: center;
  margin-top: 150px;
  font-size: 18px;
  color: #ddd;
}

/* Form */
.form {
  width: 320px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 14px;
  background: #444;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}

.form input::placeholder {
  color: #bbb;
}

/* Button */
.cta {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: #e60000;
  color: #fff;
  border: none;
  padding: 14px 22px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(230, 0, 0, 0.6);
}

.cta:hover {
  background: #ff1a1a;
}
