/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
/* ===== SIDEBAR ===== */
.sidebar {
  width: 300px;
  height: 240vh;
  background: linear-gradient(to bottom, #7a0000, #b30000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}

.menu a {
  writing-mode: horizontal-tb;

  color: rgb(218, 216, 134);
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  padding: 50px;
}

.menu a:hover {
  color: #ffffff;
}

/* ===== NAVBAR ===== */
nav {
  position: relative; /* reference for logos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo1 {
  height: 100px;
}

.logo2 {
  height: 80px;
}

/* ===== MAIN CONTENT ===== */
.main {
  padding: 20px 40px 80px;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/Document.png");
  background-size: cover;
  background-position: center;
  padding: 100px 8%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 10px;
}

/* ===== MOVIE ROWS ===== */
.movie-row,
.bottom-row {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 40px 0;
}

.movie-card {
  width: 250px;
  background: rgba(20, 19, 19, 0.747);
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.movie-info {
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  font-size: 13px;
  text-align: left;
}

/* ===== TOP MOVIES SECTION ===== */
.section {
  background: linear-gradient(to right, #7a0000, #b30000);
  padding: 30px;
  margin: 50px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: darkorange;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* ===== BACK BUTTON ===== */
.back-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #e63939;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-row,
  .bottom-row {
    flex-wrap: wrap;
  }
}

.back-btn:hover {
  background: #db0707db;
}
